*,
* ::after,
* ::before {
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  color: #212121;
  font-size: 14px;
  background-color: #ffffff;
  line-height: 1.5;
}

.box {
  box-sizing: border-box;
  width: 150px;
  height: 150px;
  border: 5px solid #f44336;
  padding: 30px;
  margin: 100px;
  background-color: #ffeb3b;
}
/*   <!-- Геометрія елемента -->  */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
  color: #212121;
  font-size: 14px;
  background-color: #fff;
  line-height: 1.5;
}

ul {
  list-style-type: none;
}

.page-header {
  background-color: #e0e0e0;
  /* padding: 16px 0; */
  padding-top: 16px;
  padding-bottom: 16px;
}

.page-nav .link {
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
}
.page-nav {
  padding: 0;
}
/* 2 */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.post {
  padding: 20px;

  max-width: 400px;
  background-color: #fff;
  border: 2px dashed #2a2a2a;
}

.post-thumb {
  margin-bottom: 30px;
  border: 2px dashed tomato;
}

.post-heading {
  margin-top: 0;
  margin-bottom: 20px;

  border: 2px dashed teal;
}

.post-text {
  margin-bottom: 0;
  margin-top: 0;

  border: 2px dashed blue;
}
/* 3 */
*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
  color: #212121;
  font-size: 14px;
  background-color: #fff;
  line-height: 1.5;
  margin: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
}
.page-header {
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #e0e0e0;
  margin: 0 0 20px 0;
}

.page-nav {
  padding: 0;
}

.page-nav .link {
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
}

.page-title {
  font-size: 32px;
  text-align: center;
  line-height: 1.333;
  letter-spacing: 3px;

  margin: 0 0 24px 0;
}
/* 4 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, sans-serif;
  color: #212121;
  font-size: 14px;
  background-color: #fff;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.section-title {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  line-height: 1.333;
  letter-spacing: 1px;
}
.section {
  border: 2px dashed #212121;
}
/* 5 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, sans-serif;
  color: #212121;
  font-size: 14px;
  background-color: #fff;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.club-list .title {
  margin-bottom: 8px;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 1.333;
}

.club-list .link {
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
}
.club-list .item {
  overflow: hidden;
  border-radius: 8px;
}
